.agent {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  position: relative;
  min-width: 300px;
  max-width: 700px;

  &--wide-mode {
    width: 100%;
    max-width: unset;
    min-width: unset;
  }

  &-body {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &--wide {
      flex-direction: row;
    }
  }

  &-input-part {
    z-index: 1;

    &--wide {
      width: 40%;
      min-width: 200px;
    }
  }

  &-prefix-container {
    height: 30px;
    position: relative;
    z-index: 1;

    &-expanded {
      z-index: 2;
    }
  }
}
