$min-input-height-minimized: 190px;

.agent {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  position: relative;
  min-width: 300px;
  max-width: 700px;

  &--wide-mode {
    width: 100%;
    max-width: unset;
    min-width: unset;
  }

  &-body {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &--wide {
      flex-direction: row;
    }
  }

  &-header {
    display: flex;

    &-name {
      flex: 1;
      display: flex;
      align-items: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }
  }

  &-input-part {
    z-index: 1;
    &--wide {
      width: 40%;
      min-width: 200px;
    }
  }

  &-input-wrapper {
    position: relative;
    display: flex;
    min-width: 300px;
    min-height: 200px;
    margin: 5px;

    &--wide {
      min-width: auto;
    }

    &-minimized {
      min-height: $min-input-height-minimized;
    }
  }

  &-input {
    flex: 1;
    padding: 0 4px;
    font-size: 14px;

    min-height: 200px;
    &-minimized {
      min-height: $min-input-height-minimized;
    }

    &-resizer {
      width: calc(100% - 30px);
      border-radius: 0 0 2px 2px;
      height: 15px;
      background: #f0f0f0;
      position: absolute;
      bottom: 0;
      left: 0;
      cursor: ns-resize;
      touch-action: none; /* Prevent default touch actions */

      &-active {
        background: #e0e0e0;
      }

      &::before {
        content: '';
        display: block;
        width: 40px;
        height: 5px;
        margin: 5px auto;
        background: #999;
        border-radius: 5px;
      }
    }
  }


  &-history-navigation {
    display: flex;
    flex-direction: column;
    width: 30px;

    &:hover {
      opacity: 1;
    }
  }

  &-buttons {
    display: flex;
    align-items: center;
    gap: 5px;

    &-photo {
      display: flex;
    }

    &-stt {
      flex: 0;
    }
  }

  &-prefix-container {
    height: 30px;
    position: relative;
    z-index: 1;

    &-expanded {
      z-index: 2;
    }
  }

  &-delete-btn-container {
    margin-left: auto;
  }

  &-response {
    &--wide {
      position: relative;
      flex-grow: 1;
    }

    &-content {
      display: block;

      &--wide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
      }
    }

    min-height: 50px;
    font-size: 14px;

    &-delete-btn {
      position: absolute;
      top: 0
    }

    &-title {
      display: flex;
      align-items: center;
    }
  }
}
