.agent {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  position: relative;
  min-width: 300px;
  max-width: 700px;


  &-input-wrapper {
    display: flex;
    min-width: 300px;
    min-height: 200px;
    padding: 5px;

    &-minimized {
      min-height: 100px;
    }
  }

  &-input {
    flex: 1;
    padding: 0 4px;
  }

  &-history-navigation {
    width: 30px;

    &:hover {
      opacity: 1;
    }
  }

  &-buttons {
    display: flex;
    gap: 5px;
  }

  &-prefix-container {
    height: 30px;
    position: relative;
    z-index: 1;
  }

  &-delete-btn-container {
    position: absolute;
    right: 0;
    top: 0;
  }

  &-response {
    margin-top: 10px;
    min-height: 50px;

    &-delete-btn {
      position: absolute;
      top: 0
    }

    &-title {
      display: flex;
      align-items: center;
    }
  }
}
