.response {
  min-height: 50px;
  font-size: 14px;

  &--wide {
    position: relative;
    flex-grow: 1;
  }

  &-tab-name {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;

    &-text {
      flex: 1;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-loader {
      flex: 0 0 auto;
      min-width: 16px;
    }
  }

  &-content {
    display: block;

    &--wide {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
    }
  }

  &-title {
    display: flex;
    overflow: auto;
  }
}
