/* You can add global styles to this file, and also import other style files */

html, body {
  -webkit-text-size-adjust: 100%; /* или  none */
  text-size-adjust: 100%;
}

#sentry-feedback {
 --inset: auto auto 0 0;
}
